{% extends 'Customer/Base.html' %}
{% load static %}

{% block title %}
  <title>Home</title>
{% endblock %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'Customer/Image/23.jpg' %}" alt="First slide">
    </div>

  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<hr>

<div class="row row-cols-1 row-cols-md-3" style="height: 50%;" >
  <div class="col mb-4">
    <div class="card h-100">
      <img src="{% static 'Customer/Image/s9.jpg'%}" class="card-img-top" alt="Image not found" style="height: 40%;">
      <div class="card-body">
        <h5 class="card-title">Laptop HP </h5>
        <p class="card-text">Laptops combine all the input/output components and capabilities of a desktop computer, including the display screen, small speakers, a keyboard, data storage device, sometimes an optical disc drive, pointing devices (such as a touch pad or pointing stick), with an operating system, a processor and memory into a single ...</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="{% static 'Customer/Image/s11.jpg' %}" class="card-img-top" alt="Image not found" style="height: 40%;">
      <div class="card-body">
        <h5 class="card-title">Laptop HP </h5>
        <p class="card-text">Laptops combine all the input/output components and capabilities of a desktop computer, including the display screen, small speakers, a keyboard, data storage device, sometimes an optical disc drive, pointing devices (such as a touch pad or pointing stick), with an operating system, a processor and memory into a single ...</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="{% static 'Customer/Image/s12.jpg' %}" class="card-img-top" alt="Image not found" style="height: 40%;">
      <div class="card-body">
       <h5 class="card-title">Laptop HP </h5>
        <p class="card-text">Laptops combine all the input/output components and capabilities of a desktop computer, including the display screen, small speakers, a keyboard, data storage device, sometimes an optical disc drive, pointing devices (such as a touch pad or pointing stick), with an operating system, a processor and memory into a single ...</p>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="row row-cols-1 row-cols-md-3" style="height: 50%;" >
  <div class="col mb-4">
    <div class="card h-100">
      <img src="{% static 'Customer/Image/laptop1.jpg' %}" class="card-img-top" alt="Image not found" style="height: 40%;">
      <div class="card-body">
        <h5 class="card-title">Laptop HP </h5>
        <p class="card-text">Laptops combine all the input/output components and capabilities of a desktop computer, including the display screen, small speakers, a keyboard, data storage device, sometimes an optical disc drive, pointing devices (such as a touch pad or pointing stick), with an operating system, a processor and memory into a single ...</p>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card h-100">
      <img src="{% static 'Customer/Image/laptop2.jpg'%}" class="card-img-top" alt="Image not found" style="height: 40%;">
      <div class="card-body">
        <h5 class="card-title">Laptop Dell</h5>
        <p class="card-text">Laptops combine all the input/output components and capabilities of a desktop computer, including the display screen, small speakers, a keyboard, data storage device, sometimes an optical disc drive, pointing devices (such as a touch pad or pointing stick), with an operating system, a processor and memory into a single ...</p>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card h-100">
      <img src="{% static 'Customer/Image/laptop3.jpg' %}" class="card-img-top" alt="Image not found" style="height: 40%;">
      <div class="card-body">
        <h5 class="card-title">Laptop  </h5>
        <p class="card-text">Laptops combine all the input/output components and capabilities of a desktop computer, including the display screen, small speakers, a keyboard, data storage device, sometimes an optical disc drive, pointing devices (such as a touch pad or pointing stick), with an operating system, a processor and memory into a single ...</p>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="row row-cols-1 row-cols-md-3" style="height: 50%;" >
  <div class="col mb-4">
    <div class="card h-100">
      <img src="{% static 'Customer/Image/s6.jpg' %}" class="card-img-top" alt="Image not found" style="height: 40%;">
      <div class="card-body">
        <h5 class="card-title">Laptop HP </h5>
        <p class="card-text">Laptops combine all the input/output components and capabilities of a desktop computer, including the display screen, small speakers, a keyboard, data storage device, sometimes an optical disc drive, pointing devices (such as a touch pad or pointing stick), with an operating system, a processor and memory into a single ...</p>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card h-100">
      <img src="{% static 'Customer/Image/s7.jpg'%}" class="card-img-top" alt="Image not found" style="height: 40%;">
      <div class="card-body">
       <h5 class="card-title">Laptop HP </h5>
        <p class="card-text">Laptops combine all the input/output components and capabilities of a desktop computer, including the display screen, small speakers, a keyboard, data storage device, sometimes an optical disc drive, pointing devices (such as a touch pad or pointing stick), with an operating system, a processor and memory into a single ...</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="{% static 'Customer/Image/s8.jpg' %}" class="card-img-top" alt="Image not found" style="height: 40%;">
      <div class="card-body">
       <h5 class="card-title">Laptop HP </h5>
        <p class="card-text">Laptops combine all the input/output components and capabilities of a desktop computer, including the display screen, small speakers, a keyboard, data storage device, sometimes an optical disc drive, pointing devices (such as a touch pad or pointing stick), with an operating system, a processor and memory into a single ...</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}


