
<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>LapStock</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'dashboard/css/main.css' %}" />
</head>

<body >
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'sellerhome' %}">LapStock</a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'sellerhome' %}">Home</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Seller Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 {% if user.is_authenticated %}
                   <a class="dropdown-item" href="{% url 'Sellerpasswordchange' %}">Change Password</a>
                <a class="dropdown-item" href="{% url 'sellerlogout' %}">Logout</a>
              </div>
            </li>

              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
               Seller Product
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                   <a class="dropdown-item" href="{% url 'sellerinventory' %}">Seller_Inventory</a>
                   <a class="dropdown-item" href="{% url 'sellerlaptop' %}">Seller Laptop</a>
                <a class="dropdown-item" href="{% url 'selleraccessories' %}">Seller Accessories</a>
              </div>
            </li>
                    </li>
         <a class="nav-link active" aria-current="page" style="color:white"  href="{% url 'sellerproduct' %}">Product_Category</a>

                {% else %}
                <a class="dropdown-item" href="{% url 'sellerhome' %}">Home</a>
                <a class="dropdown-item" href="{% url 'sellerregister' %}">Registration</a>
                <a class="dropdown-item" href="{% url 'sellerlogin' %}">Login</a>
                 <a class="dropdown-item" href="{% url 'customerhome' %}">LapStock_Market</a>
                {% endif %}


          </ul>
        </div>
      </div>
    </nav>
  </header>
  <br /><br />
  <main>

    {% block content %}
    {% endblock content %}

  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type='text/javascript'></script>
  <script>
      var otp_from_back="";
      var email1="";
      function ajax_send_otp(){
         document.getElementById("email_div").style.display='none';
         document.getElementById("send_email_div").style.display='block';
         email = document.getElementById("email");
   const url1 = $("#selemail").attr("selleremail");
       $.post(url1,
           {
               "email":email.value,
               "csrfmiddlewaretoken":"{{csrf_token}}"
           },
           function(data, status){
               if(status=="success"){
                   otp_from_back = data;
                   email1=email.value;
                   document.getElementById("send_email_div").style.display='none';
                   document.getElementById("otp_div").style.display='block';
                   }
      }
      );
      }
     function verify_otp(){
         var user_otp=document.getElementById("otp").value;
   const url2 = $("#verifymail").attr("verifyemail");
         if (user_otp==otp_from_back){
             document.getElementById("verify_text_div").style.color="green";
             document.getElementById("verify_text_div").innerHTML="OTP is verified successfully!!";
             document.getElementById("otp_div").style.display="none";
             document.getElementById("form_div").style.display="block";
             $.post(url2,
              {
                  "email":email1,
                  "csrfmiddlewaretoken":"{{csrf_token}}"
              }
             );
         }
         else{
             document.getElementById("verify_text_div").style.color="red";
             document.getElementById("verify_text_div").innerHTML="You entered wrong OTP please enter correct OTP again!!";
         }
     }
  </script>

  <!-- Ajax for Seller forgot password -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type='text/javascript'></script>
  <script>
      var otp_back="";
      var emailpass="";
      function pass_send_otp(){
         document.getElementById("emailpass_div").style.display='none';
         document.getElementById("send_email_pass_div").style.display='block';
         email = document.getElementById("email");
   const url1 = $("#cpassemail").attr("customerpassemail");
       $.post(url1,
           {
               "email":email.value,
               "csrfmiddlewaretoken":"{{csrf_token}}"
           },
           function(data, status){
               if(status=="success"){
                   otp_back = data;
                   emailpass=email.value;
                   console.log(emailpass)
                   document.getElementById("send_email_pass_div").style.display='none';
                   document.getElementById("otp_pass_div").style.display='block';
                   }
      }
      );
      }
     function pass_verify_otp(){
         var user_otp=document.getElementById("otp").value;
         if (user_otp==otp_back){
             document.getElementById("verify_text_pass_div").style.color="green";
             document.getElementById("verify_text_pass_div").innerHTML="OTP is verified successfully!!";
             document.getElementById("otp_pass_div").style.display="none";
             document.getElementById("form_pass_div").style.display="block";
         }
         else{
             document.getElementById("verify_text_pass_div").style.color="red";
             document.getElementById("verify_text_pass_div").innerHTML="You entered wrong OTP please enter correct OTP again!!";
         }
     }


     function change_pass_send(){
          document.getElementById("form_pass_div").style.display='none';
         document.getElementById("success_pass_div").style.display='block';
          var password=document.getElementById("id_new_password1")
          console.log(password.value)
          var c_password=document.getElementById('id_new_password2')
          console.log(c_password.value)
   const url3 = $("#passchange").attr("passchange");

         if(password.value==c_password.value){
       $.post(url3,

           {
               "email":emailpass,
               "csrfmiddlewaretoken":"{{csrf_token}}",
               "new_password2":password.value,

           }
      );
          document.getElementById("verify_text_pass_div").style.color="green";
          document.getElementById("verify_text_pass_div").innerHTML="Password is changed now successfully!!";
          document.getElementById("success_pass_div").style.display='block';
      }
      else{
          document.getElementById("verify_text_pass_div").style.color="red";
          document.getElementById("verify_text_pass_div").innerHTML="Password is not changed, Try again!!";
      }
      }
  </script>
  </body>
</html>